body {
    user-select: none;
    height: 1000px;
}

#draggable-field {
    position: relative;
    margin: 0 auto;
    width:400px;
    height:400px;
    background-color:#fff;
    border: 1px solid black;
}
 .draggable {
    display: inline-block;
    height: 20px;
    border: 1px dashed black;
    position: absolute;
    overflow: auto;
}

#remove {
    border-left: 1px solid black;
    margin: 0 3px 0 3px;
    color: red;
    position: relative;
}